<!-- rateYo CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">


<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Dashboard-->
                <div class="row">
                    <div class="w-100 card card-custom gutter-b card-stretch">
                        <!--begin::Header-->
                        <div class="card-header border-0 py-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Users</span>
                            </h3>
                            <div class="card-toolbar">
                                <div style="float: right;" class="pr-6">
                                    <label>Select Date:
                                        <input type="text" class="form-control" id="datepicker" name="datetimes" />
                                    </label>
                                </div>
                          </div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body py-0">
                          <!--begin::Table-->
                          <div class="table-responsive">
                            <table id="userTable" class="display" width="100%"></table>

                            
                          </div>
                          <!--end::Table-->
                        </div>
                        <!--end::Body-->
                      </div>
                      <!--end::Advance Table Widget 10-->
                </div>
            </div>
        </div>
    </div>
</div>



<script src="/js/pages/custom/admin/user.js"></script>