<!--begin::Content-->
<div class="content"></div>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
  <!--begin::Entry-->
  <div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
      <!--begin::Profile Personal Information-->
      <div class="d-flex flex-row">
        <%- partial('./profileAside.ejs') %>
        <!--begin::Content-->
        <div class="flex-row-fluid ml-lg-8">
          <!--begin::Card-->
          <div class="card card-custom">
            <!--begin::Header-->
            <div class="card-header py-3">
              <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">Change Password</h3>
                <span class="text-muted font-weight-bold font-size-sm mt-1">Change your account password</span>
              </div>
              <div class="card-toolbar">
                <button type="reset" class="btn btn-success mr-2" id="change_password_submit">Save Changes</button>
                <button type="reset" class="btn btn-secondary d-lg-none" id="kt_subheader_mobile_toggle">Cancel</button>
              </div>
            </div>
            <!--end::Header-->
            <!--begin::Form-->
            <form class="form" id="change_password_form">
              <div class="card-body">
                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label text-alert">Current Password</label>
                  <div class="col-lg-9 col-xl-6">
                    <input type="password" class="form-control form-control-lg form-control-solid mb-2"
                      name="crPassword" placeholder="Current password" />
                    <a href="#" class="text-sm font-weight-bold">Forgot password ?</a>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label text-alert">New Password</label>
                  <div class="col-lg-9 col-xl-6">
                    <input type="password" class="form-control form-control-lg form-control-solid" name="password"
                      placeholder="New password" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label text-alert">Verify Password</label>
                  <div class="col-lg-9 col-xl-6">
                    <input type="password" class="form-control form-control-lg form-control-solid" name="cnPassword"
                      placeholder="Verify password" />
                  </div>
                </div>
              </div>
            </form>
            <!--end::Form-->
          </div>
        </div>
        <!--end::Content-->
      </div>
      <!--end::Profile Personal Information-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Entry-->
</div>
<!--end::Content-->
<!--begin::Page Scripts(used by this page)-->
<script src="/js/pages/custom/profile/changePassword.js"></script>
<!--end::Page Scripts-->