<div class="row">
  <div class="col">
    <h2>Forget Password</h2>
  </div>
  <div class="col">
    <a class="btn btn-secondary float-right" href="/">Back</a>
  </div>
</div>
<p>
  Enter your registered email to get reset password link by mail.
</p>
<form>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email">
  </div>
  <button type="submit" id="forgetPassword" class="btn btn-primary">Submit</button>
</form>
<script>

  $("#forgetPassword").click(function (event) {
    event.preventDefault();
    if (!$('#email').val()) {
      return $.notify('Email is required', { type: 'danger' });
    }
    $(".loader").show();
    $.ajax("/api/forgot-password", {
      method: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({
        email: $('#email').val()
      }),
      success: function (result) {
        if (result.status === true) {
          setTimeout(() => {
            $(".loader").hide();
          }, 1000);
          $.notify(result.message, "success");
          document.location.href = "/auth/login";
        }
        else {
          $.notify(result.message)
          setTimeout(() => {
            $(".loader").hide();
          }, 1000);
        }
      },
    })
  });
</script>