
    <main style="background: #fff;">
        <div id="base-layout-segment-component-1" style="padding-bottom:16px"
          class="base-layout-segment-component">
          <div class="globe-homepage-first-fold-component">
            <div class="desktop-wrapper">
              <div style="height:fit-content" class="globe-desktop-homepage-first-fold-component">
                <div class="side-by-side-text-and-asset">
                  <div class="left-space"></div>
                  <div class="side-by-side-content globe-text-and-asset-content">
                    <div class="full-paragraph-component-wrapper">
                      <div style="text-align:left" class="full-paragraph">
                        <div class="title-wrapper">
                          <h1 class="phonix-markup-language-component core-title lg">Be Productive <br> Not Busy</h1>
                        </div>
                        <div class="paragraph-body-wrapper">
                          <h3 class="paragraph-body">Don't mistake Activity for Productivity.Asknanswr is the platform that empowers people to get their answers from industry
                            experts so that you get ahead of the curve <br>in the shortest possible time.</h3>
                        </div>
                          
                        <div class="button-wrapper left">
                          <div class="button">
                            <div class="signup-button">
                              <div class="error-handling-component">
                                <div class="shake stop">
                                  <div class="signup-form-core-component-wrapper ">
                                      <div class="signup-button-wrapper"><button tabindex="2" onclick="location.href='/auth/login';"
                                          class="ladda-button signup-button pink undefined" data-style="zoom-in"
                                          data-size="xl" type="button"><span class="ladda-label"><span
                                              class="signup-text">Get Started</span><span
                                              class="signup-arrow-wrapper"><svg xmlns="http://www.w3.org/2000/svg"
                                                width="8" height="14" viewBox="0 0 8 14">
                                                <path
                                                  d="M.313 12.045l5.113-5.112L.313 1.821A1.065 1.065 0 1 1 1.82.312L7.687 6.18a1.064 1.064 0 0 1 0 1.508L1.82 13.554a1.065 1.065 0 1 1-1.507-1.508z">
                                                </path>
                                              </svg></span></span></button></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="image-wrapper center">
                      <div class="asset-inner side-by-side-asset">
                        <picture class="picture-component"><img
                            alt="img1.png"
                            class="main-image text-and-asset-image"
                            src="/img/img1.png" />
                        </picture>
                      </div>
                    </div>
                  </div>
                  <div class="right-space"></div>
                </div>
              </div>
            </div>
            <div class="mobile-wrapper">
              <div class="globe-mobile-homepage-first-fold-component">
                <div class="side-by-side-text-and-asset">
                  <div class="left-space"></div>
                  <div class="side-by-side-content globe-text-and-asset-content">
                    <div class="full-paragraph-component-wrapper">
                      <div style="text-align:center" class="full-paragraph">
                        <div class="title-wrapper">
                          <h1 class="phonix-markup-language-component core-title lg">Where teams <br> get work done</h1>
                        </div>
                        <div class="button-wrapper center">
                          <div class="button">
                            <div class="signup-button">
                              <div class="error-handling-component">
                                <div class="shake stop">
                                  <div class="signup-form-core-component-wrapper ">
                                      <div class="signup-button-wrapper"><button tabindex="2" onclick="location.href='/auth/login';"
                                          class="ladda-button signup-button pink undefined" data-style="zoom-in"
                                          data-size="xl" type="button"><span class="ladda-label"><span
                                              class="signup-text">Get Started</span><span
                                              class="signup-arrow-wrapper"><svg xmlns="http://www.w3.org/2000/svg"
                                                width="8" height="14" viewBox="0 0 8 14">
                                                <path
                                                  d="M.313 12.045l5.113-5.112L.313 1.821A1.065 1.065 0 1 1 1.82.312L7.687 6.18a1.064 1.064 0 0 1 0 1.508L1.82 13.554a1.065 1.065 0 1 1-1.507-1.508z">
                                                </path>
                                              </svg></span></span></button></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="image-wrapper center">
                      <div class="asset-inner side-by-side-asset">
                        <picture class="picture-component"><img
                            alt="img1.png"
                            class="main-image text-and-asset-image"
                            src="/img/img1.png" />
                        </picture>
                      </div>
                    </div>
                  </div>
                  <div class="right-space"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="base-layout-segment-component-2" style="padding-top:;padding-bottom:"
          class="base-layout-segment-component">
          <div class="full-paragraph-component">
            <div class="full-paragraph-wrapper">
              <div style="text-align:center" class="full-paragraph">
                <div class="title-wrapper">
                  <h2 class="phonix-markup-language-component core-title md">On Asknanswr, we have people from over 100 organizations.</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="base-layout-segment-component-3" style="padding-top:;padding-bottom:68px"
          class="base-layout-segment-component">
          <div class="images-logos-component">
            <div class="logos">
              <div class="images-logos-wrapper">
                <div class="images-gallery">
                  <div class="images-gallery-row">
                    <div class="image-gallery">
                      <picture class="picture-component social-proof-gallery-picture"><img alt="Uber"
                          class=""
                          src="/img/logos-v2/uber.png" />
                      </picture>
                    </div>
                    <div class="image-gallery">
                      <picture class="picture-component social-proof-gallery-picture"><img alt="Adobe"
                          class=""
                          src="/img/logos-v2/adobe.png" />
                      </picture>
                    </div>
                    <div class="image-gallery">
                      <picture class="picture-component social-proof-gallery-picture"><img
                          alt="Schneider Electric" class=""
                          src="/img/logos-v2/schneider.png" />
                      </picture>
                    </div>
                    <div class="image-gallery">
                      <picture class="picture-component social-proof-gallery-picture"><img
                          alt="Universal Music Group" class=""
                          src="/img/logos-v2/universal.png" />
                      </picture>
                    </div>
                    <div class="image-gallery">
                      <picture class="picture-component social-proof-gallery-picture"><img alt="Costco"
                          class=""
                          src="/img/logos-v2/costco.png" />
                      </picture>
                    </div>
                    <div class="image-gallery">
                      <picture class="picture-component social-proof-gallery-picture"><img
                          alt="ge_general_electric.png" class=""
                          src="/img/logos-v2/ge_general_electric.png" />
                      </picture>
                    </div>
                    <div class="image-gallery">
                      <picture class="picture-component social-proof-gallery-picture"><img
                          alt="apple.png" class=""
                          src="/img/logos-v2/apple.png" />
                      </picture>
                    </div>
                    <div class="image-gallery">
                      <picture class="picture-component social-proof-gallery-picture"><img alt="hulu.png"
                          class=""
                          src="/img/logos-v2/hulu.png" />
                      </picture>
                    </div>
                    <div class="image-gallery">
                      <picture class="picture-component social-proof-gallery-picture"><img
                          alt="unilever.png" class=""
                          src="/img/logos-v2/unilever.png" />
                      </picture>
                    </div>
                    <div class="image-gallery">
                      <picture class="picture-component social-proof-gallery-picture"><img
                          alt="abbott.png" class=""
                          src="/img/logos-v2/abbott.png" />
                      </picture>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="base-layout-segment-component-4" style="padding-top:1px;padding-bottom:24px"
          class="base-layout-segment-component">
          <div class="side-by-side-text-and-asset-component">
            <div class="side-by-side-text-and-asset">
              <div class="left-space"></div>
              <div class="side-by-side-content is-swap">
                <div class="full-paragraph-component-wrapper">
                  <div class="full-testimonials-quote">
                    <div class="full-testimonials-title">
                      <h2 class="phonix-markup-language-component core-title md">Reduce time to Market<span
                          style="color: #ff0476; font: inherit; font-size: 58px;padding-left: 2px;">.</span></h2>
                    </div>
                    <div class="testimonials-quote">
                      <div class="quote-background"></div>
                      <div class="testimonials-text">As information increasing at a breakneck speed, so is the time to find solutions. 
                        Stop wasting time and reinventing the wheel by consuting the experts. Thus save time to market or find solutions which are you are not able to find. Get a live video session and get your custom answers custom taiored for you !!!</div>
                    </div>
                    <div class="person-info">
                      <picture class="picture-component"><img
                          alt="7462c1d5-7349-4e16-8e48-3cfb5d2c9414_HubSpot.png" class="avatar-image"
                          src="/img/profile//7462c1d5-7349-4e16-8e48-3cfb5d2c9414_HubSpot.png"
                          style="border-radius:50px" /></picture>
                      <div class="person-text">
                        <div class="person-name person">Mark Znutas</div>
                        <div class="job-description person">Senior Director of Operations, HubSpot</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="image-wrapper center">
                  <div class="asset-inner side-by-side-asset ignore-parent-height">
                    <div class="video-component">
                      <div style="width:100%;height:100%" class="react-player-video-component">
                              <picture class="picture-component"><img
                            alt="img1.png"
                            class="main-image text-and-asset-image"
                            src="/img/time_to_market.jpg" />
                        </picture>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right-space"></div>
            </div>
          </div>
        </div>
        <div id="base-layout-segment-component-5" style="padding-top:24px;padding-bottom:24px"
          class="base-layout-segment-component">
          <div class="side-by-side-text-and-asset-component">
            <div class="side-by-side-text-and-asset">
              <div class="left-space"></div>
              <div style="background:linear-gradient(to right, #ffcb00 undefined, white 0);color:#323338"
                class="side-by-side-content">
                <div class="full-paragraph-component-wrapper">
                  <div class="full-testimonials-quote">
                    <div class="full-testimonials-title">
                      <h2 class="phonix-markup-language-component core-title md">Find solutions to your most difficult problems<span style="color: #00ca72; font: inherit; font-size: 58px;padding-left: 2px;">.</span>
                      </h2>
                    </div>
                    <div class="testimonials-quote">
                      <div class="quote-background"></div>
                      <div class="testimonials-text">Not able to find solutions to your problems on internet? On Asknanswr, you can find people who have alreday accomplished what you are looking for. 
                        <br><br>So look no further and find them,Schedule a live video sesson today and start making progress.
                      </div> 
                    </div>
                    <div class="person-info">
                      <picture class="picture-component"><img
                          alt="c9b3822b-8e92-4e84-ad89-a9950215a07b_thoughtworks.png"
                          class="avatar-image"
                          src="/img/profile//c9b3822b-8e92-4e84-ad89-a9950215a07b_thoughtworks.png"
                          style="border-radius:50px" /></picture>
                      <div class="person-text">
                        <div class="person-name person">Samyuktha Shivakumar</div>
                        <div class="job-description person">Operations Lead for Global Marketing,
                          ThoughtWorks</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="image-wrapper center">
                  <div class="asset-inner side-by-side-asset">
                    <div class="video-component">
                      <div style="width:100%;height:100%" class="react-player-video-component">
                        <picture class="picture-component"><img
                            alt="img1.png"
                            class="main-image text-and-asset-image"
                            src="/img/find_solutions.jpg" />
                        </picture>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right-space"></div>
            </div>
          </div>
        </div>
        <div id="base-layout-segment-component-6" style="padding-top:64px;padding-bottom:24px"
          class="base-layout-segment-component">
          <div class="full-paragraph-component">
            <div class="full-paragraph-wrapper">
              <div style="text-align:center" class="full-paragraph">
                <div class="title-wrapper">
                  <h2 class="phonix-markup-language-component core-title md">Find people from more than 50 industries <br>and
                    get more done
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="base-layout-segment-component-7" class="base-layout-segment-component">
          <div class="floating-integrations-component">
            <div class="integrations-slider-component">
              <div class="integration-badge-wrapper">
                <div class="integration-badge-component">
                  <picture class="picture-component"><img alt="github.png"
                    class="integration-badge-image"
                       src="/img/floating-integrations/github.png" />
                  </picture>
                </div>
                <div class="integration-badge-component">
                  <picture class="picture-component"><img alt="twitter.png"
                    class="integration-badge-image"
                       src="/img/floating-integrations/twitter.png" />
                  </picture>
                </div>
                <div class="integration-badge-component">
                  <picture class="picture-component"><img alt="box.png"
                    class="integration-badge-image"
                       src="/img/floating-integrations/box.png" />
                  </picture>
                </div>
                <div class="integration-badge-component">
                  <picture class="picture-component"><img alt="facebook-ads.png"
                    class="integration-badge-image"
                       src="/img/floating-integrations/facebook-ads.png" />
                  </picture>
                </div>
                <div class="integration-badge-component">
                  <picture class="picture-component"><img alt="facebook.png"
                    class="integration-badge-image"
                       src="/img/floating-integrations/facebook.png" />
                  </picture>
                </div>
                <div class="integration-badge-component">
                  <picture class="picture-component"><img alt="harvest.png"
                    class="integration-badge-image"
                       src="/img/floating-integrations/harvest.png" />
                  </picture>
                </div>
                <div class="integration-badge-component">
                  <picture class="picture-component"><img alt="jira-core.png"
                    class="integration-badge-image"
                       src="/img/floating-integrations/jira-core.png" />
                  </picture>
                </div>
                <div class="integration-badge-component">
                  <picture class="picture-component"><img alt="surveymonkey.png"
                    class="integration-badge-image"
                       src="/img/floating-integrations/surveymonkey.png" />
                  </picture>
                </div>
                <div class="integration-badge-component">
                  <picture class="picture-component"><img alt="twilio.png"
                    class="integration-badge-image"
                       src="/img/floating-integrations/twilio.png" />
                  </picture>
                </div>
                <div class="integration-badge-component">
                  <picture class="picture-component"><img alt="zendesk.png"
                    class="integration-badge-image"
                       src="/img/floating-integrations/zendesk.png" />
                  </picture>
                </div>
                <div class="integration-badge-component">
                  <picture class="picture-component"><img alt="todoist.png"
                    class="integration-badge-image"
                       src="/img/floating-integrations/todoist.png" />
                  </picture>
                </div>
              </div>
          </div>
        </div>
      </div>
        <div id="base-layout-segment-component-8" style="padding-top:56px;padding-bottom:24px"
          class="base-layout-segment-component">
          <div class="basic-button-component">
            <div class="button-wrapper">
              <div class="button">
                <div class="secondary-button"><a style="color:#4353FF" href="integrations.html"
                    target="_self" class=""><span >View all
                      integrations</span><span class="arrow-wrapper"><svg
                        xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14">
                        <path
                          d="M.313 12.045l5.113-5.112L.313 1.821A1.065 1.065 0 1 1 1.82.312L7.687 6.18a1.064 1.064 0 0 1 0 1.508L1.82 13.554a1.065 1.065 0 1 1-1.507-1.508z">
                        </path>
                      </svg></span></a></div>
              </div>
            </div>
          </div>
        </div>
        <div id="base-layout-segment-component-9" style="padding-top:56px;padding-bottom:24px"
          class="base-layout-segment-component">
          <div class="side-by-side-text-and-asset-component">
            <div class="side-by-side-text-and-asset">
              <div class="left-space"></div>
              <div class="side-by-side-content is-swap">
                <div class="full-paragraph-component-wrapper">
                  <div class="full-testimonials-quote">
                    <div class="full-testimonials-title">
                      <h2 class="phonix-markup-language-component core-title md">Ask Anything<span
                          style="color: #ffcb00; font: inherit; font-size: 58px;padding-left: 2px;">.</span></h2>
                    </div>
                    <div class="testimonials-quote">
                      <div class="quote-background"></div>
                      <div class="testimonials-text">Having questions which you are feeling shy to ask your relatives or your coworkers, Use asknanswr to find experts and have a video chat with them.
                      </div>
                    </div>
                    <div class="person-info">
                      <picture class="picture-component"><img
                          alt="6737c5f7-cca9-4dd0-b6c1-c017adcff7d0_Carnival.png" class="avatar-image"
                          src="/img/profile//6737c5f7-cca9-4dd0-b6c1-c017adcff7d0_Carnival.png"
                          style="border-radius:50px" /></picture>
                      <div class="person-text">
                        <div class="person-name person">Richard Brilliant</div>
                        <div class="job-description person">SVP &amp; Chief Audit Officer, Carnival
                          Corporation &amp; PLC</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="image-wrapper center">
                  <div class="asset-inner side-by-side-asset">
                    <div class="video-component">
                      <div style="width:100%;height:100%" class="react-player-video-component">
                        <picture class="picture-component"><img
                            alt="img1.png"
                            class="main-image text-and-asset-image"
                            src="/img/ask.jpg" />
                        </picture>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right-space"></div>
            </div>
          </div>
        </div>
        <div id="base-layout-segment-component-10" style="padding-top:32px;padding-bottom:56px"
          class="base-layout-segment-component">
          <div class="side-by-side-text-and-asset-component">
            <div class="side-by-side-text-and-asset">
              <div class="left-space"></div>
              <div class="side-by-side-content">
                <div class="full-paragraph-component-wrapper">
                  <div class="full-testimonials-quote">
                    <div class="full-testimonials-title">
                      <h2 class="phonix-markup-language-component core-title md">Reach the unreahable<span style="color: #009aff; font: inherit; font-size: 58px;padding-left: 2px;">.</span>
                      </h2>
                    </div>
                    <div class="testimonials-quote">
                      <div class="quote-background"></div>
                      <div class="testimonials-text">On asknanswr, you can reach people, who you may not be able to contact in real life. Even if you reach you may not get answers from them as they have no incentive to spend time with you. 
                        <br><br>
                        Asknanswr provides the opportunity to reach the unreachable.</div>
                    </div>
                    <div class="person-info">
                      <picture class="picture-component"><img
                          alt="6c3f6f0c-5947-48ab-90d1-2a3f6514ad6d_JasonDoan.png" class="avatar-image"
                          src="/img/profile//6c3f6f0c-5947-48ab-90d1-2a3f6514ad6d_JasonDoan.png"
                          style="border-radius:50px" /></picture>
                      <div class="person-text">
                        <div class="person-name person">Jason Doan</div>
                        <div class="job-description person">VP of Heavy Rental and Sales Operations, HOLT
                          CAT</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="image-wrapper center">
                  <div class="asset-inner side-by-side-asset">
                    <div class="video-component">
                      <div style="width:100%;height:100%" class="react-player-video-component">
                        <picture class="picture-component"><img
                            alt="62b768f8-dcbd-431d-b60f-9becd78fd649_firstfoldtest4.png"
                            class="main-image text-and-asset-image"
                            src="/img/img1.png" />
                        </picture>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right-space"></div>
            </div>
          </div>
        </div>
        <div id="base-layout-segment-component-9" style="padding-top:56px;padding-bottom:24px"
        class="base-layout-segment-component">
        <div class="side-by-side-text-and-asset-component">
          <div class="side-by-side-text-and-asset">
            <div class="left-space"></div>
            <div class="side-by-side-content is-swap">
              <div class="full-paragraph-component-wrapper">
                <div class="full-testimonials-quote">
                  <div class="full-testimonials-title">
                    <h2 class="phonix-markup-language-component core-title md">Global Outreach<span
                        style="color: #ffcb00; font: inherit; font-size: 58px;padding-left: 2px;">.</span></h2>
                  </div>
                  <div class="testimonials-quote">
                    <div class="quote-background"></div>
                    <div class="testimonials-text">Why stay limited to local level when you can find people at a Global level.
                    </div>
                  </div>
                  <div class="person-info">
                    <picture class="picture-component"><img
                        alt="6737c5f7-cca9-4dd0-b6c1-c017adcff7d0_Carnival.png" class="avatar-image"
                        src="/img/profile//6737c5f7-cca9-4dd0-b6c1-c017adcff7d0_Carnival.png"
                        style="border-radius:50px" /></picture>
                    <div class="person-text">
                      <div class="person-name person">Richard Brilliant</div>
                      <div class="job-description person">SVP &amp; Chief Audit Officer, Carnival
                        Corporation &amp; PLC</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="image-wrapper center">
                <div class="asset-inner side-by-side-asset">
                  <div class="video-component">
                    <div style="width:100%;height:100%" class="react-player-video-component">
                      <picture class="picture-component"><img
                          alt="global.jpg"
                          class="main-image text-and-asset-image"
                          src="/img/global.jpg"/>
                      </picture>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="right-space"></div>
          </div>
        </div>
      </div>

        <div id="base-layout-segment-component-11" style="color:#323338;background:#F5F6F8; padding-top:56px;"
          class="base-layout-segment-component">
          <div class="asymmetric-side-by-side-text-and-asset-component">
            <div class="side-by-side-text-and-asset">
              <div style="color:#323338;background:#F5F6F8" class="left-space"></div>
              <div style="background:linear-gradient(to right, #F5F6F8 100%, white 0);color:#323338"
                class="side-by-side-content asymmetric-side-by-side-text-and-asset-content is-full-width">
                <div class="full-paragraph-component-wrapper">
                  <div style="text-align:left" class="full-paragraph">
                    <div class="title-wrapper">
                      <h2 class="phonix-markup-language-component core-title md">Asknanswr
                        <br>for remote work</>
                      </h2>
                    </div>
                    <div class="paragraph-body-wrapper">
                      <h3 class="paragraph-body md">Bring your team together, anywhere and anytime,
                        <br>to collaborate, manage and track your work.</>
                      </h3>
                    </div>
                    <div class="button-wrapper left">
                      <div class="button">
                        <div class="secondary-button"><a style="color:#ff0476"
                            href="use-cases/remote-work.html" target="_self" class=""><span
                              >Learn more</span><span class="arrow-wrapper"><svg
                                xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14">
                                <path
                                  d="M.313 12.045l5.113-5.112L.313 1.821A1.065 1.065 0 1 1 1.82.312L7.687 6.18a1.064 1.064 0 0 1 0 1.508L1.82 13.554a1.065 1.065 0 1 1-1.507-1.508z">
                                </path>
                              </svg></span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="image-wrapper center">
                  <div class="asset-inner side-by-side-asset">
                    <picture class="picture-component"><img
                        alt="9a00b361-11ed-4cfb-ae79-0f3adf21529f_Remotework.png"
                        class="main-image text-and-asset-image"
                        src="/img/9a00b361-11ed-4cfb-ae79-0f3adf21529f_Remotework.png" />
                    </picture>
                  </div>
                </div>
              </div>
              <div style="background-color:#F5F6F8" class="right-space"></div>
            </div>
          </div>
        </div>
        <div id="base-layout-segment-component-12" style="padding-top:32px;padding-bottom:56px"
          class="base-layout-segment-component">
          <div class="full-paragraph-component">
            <div class="full-paragraph-wrapper">
              <div style="text-align:center" class="full-paragraph">
                <div class="title-wrapper">
                  <h2 class="phonix-markup-language-component core-title lg">Start with your  <span class="colored"
                      style="color: #00ca72; font: inherit;">free session</span></h2>
                </div>
                <div class="button-wrapper center">
                  <div class="button">
                    <div class="signup-button">
                      <div class="error-handling-component">
                        <div class="shake stop">
                          <div class="signup-form-core-component-wrapper ">
                              <div class="signup-button-wrapper"><button tabindex="2" onclick="location.href='/auth/login';"
                                  class="ladda-button signup-button pink undefined" data-style="zoom-in" data-size="xl"
                                  type="button"><span class="ladda-label"><span class="signup-text">Get
                                      Started</span><span class="signup-arrow-wrapper"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14">
                                        <path
                                          d="M.313 12.045l5.113-5.112L.313 1.821A1.065 1.065 0 1 1 1.82.312L7.687 6.18a1.064 1.064 0 0 1 0 1.508L1.82 13.554a1.065 1.065 0 1 1-1.507-1.508z">
                                        </path>
                                      </svg></span></span></button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>